.cart{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 2px solid black;
}
.yourcart{
	padding:20px;
	font-size: 22px;
	width: 100vw;
}
.addeditems{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.addedcartitem{
	display: flex;
	flex-direction: row;
	width: 30vw;
	border: 2px solid black;
	box-sizing: border-box;
	margin: 5px;
}