.App {
  background-color: #f6f6f6;
  height: 100vh;
  overflow-y: auto;
}
.header{
  height: 45px;
  background-color: blue;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 5px;
}